.photo-gallery-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .photo-gallery {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto; // Gallery stretches to edge of screen so left and right arrow are at edges

        max-width: 1215px; // When screen stretches past max-width then arrow buttons won't be at edges but at center b/c
                            // of parent's justify-content center
        

        button {
            &.left, &.right {
                flex: 0 0 auto;
                padding: 0;
                border: 0;
                background: transparent;
                cursor: pointer;
                outline: none;
            }
        }

        button svg {
            width: 32px;
            height: 32px;
            fill: #CCC;
        }

        .photo-gallery-figure-enter {
            opacity: 0.01;
        }
            
        .photo-gallery-figure-enter.photo-gallery-figure-enter-active {
            opacity: 1;
            transition: opacity 300ms ease-in;
        }    

        figure {
            flex-flow: column nowrap;
            display: flex;
            margin: 0 40px;
            position: relative;
            justify-content: center;
            flex: 1 1 auto;
            align-items: center;
            
            &.hidden {
                display: none;
            }

            img {
                width: 100%;    // Set width and height to 100% so it stretches/shrinks with the window
                height: 100%; 
            }

            figcaption {
                text-align: center;
                color: #CCC;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .5);
                padding: 5px 0;
            }
        }
    }
}



